




/*
     FILE ARCHIVED ON 3:57:51 abr 5, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:03:43 nov 2, 2016.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
table th, table td{
    border: 1px solid gray;   
    padding: 5px;
}
table{
    border-collapse: collapse;   
}